Ambient Lighting:
A	ratio	r,g,b

[O] Identify A
[ ] Assert A appear only once
[ ] ratio must be in range [0,1]
[ ] r,g,b must be in range [0,255]


Camera:
C	x,y,z	Nx,Ny,Nz	fov

[O] Identify C
[ ] Assert C appear only once
[O]	x,y,z are real numbers
[ ] Nx,Ny,Nz must be in range [-1,1]
[ ] fov must be in range [0,180]


Light:
L	x,y,z	ratio	r,g,b

[O] Identify L
[ ] Assert L appear only once
[O]	x,y,z are real numbers
[ ] ratio must be in range [0,1]
[ ] r,g,b must be in range [0,255]


Sphere:
sp	x,y,z	d	r,g,b

[O] Identify sp
[O]	x,y,z are real numbers
[ ] d must be positive
[ ] Make sure radius is setted as d/2
[ ] r,g,b must be in range [0,255]


Plane:
pl	x,y,z	Nx,Ny,Nz	r,g,b

[O] Identify pl
[O]	x,y,z are real numbers
[ ] Nx,Ny,Nz must be in range [-1,1]
[ ] r,g,b must be in range [0,255]


Cylinder:
cy	x,y,z	Nx,Ny,Nz	d	h	r,g,b

[O] Identify cy
[O]	x,y,z are real numbers
[ ] Nx,Ny,Nz must be in range [-1,1]
[ ] d must be positive
[ ] Make sure radius is setted as d/2
[ ] h must be positive
[ ] r,g,b must be in range [0,255]

---

[ ] Assert A,C,L appear only once
[ ] (light) ratio must be in range [0,1]
[ ] r,g,b must be in range [0,255]
[ ] (normal) Nx,Ny,Nz must be in range [-1,1]
[ ] (camera) fov must be in range [0,180]
[ ] (diameter) d and (height) h must be positive
[ ] Make sure radius is setted as d/2
